.Header{
  padding-top: 20px;
  padding-bottom: 60px;
}

.Tabla{
  padding: 16px 16px;
}

.Add{
  padding: 10px;
}

.Barra{
  align-items:flex-end;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34;
  padding: 10px;
}

