.Header{
  padding: 20px 0px 40px 40px;
}


.Tabla{
  padding: 16px 16px;
 color:teal
}

@media screen and (max-device-width : 700px) {
  .Thead{
  display: none;
  }
}

.Add{
  padding: 30px;
}

.Barra{
  align-items:flex-end;

}

.App-header {
  background-color:rgb(55, 124, 124);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#282c34;
  padding: 10px;
}


